mixin post(post)
  h2(class="post-title")
    a(href=post.url)= post.title

  p.post-meta
    i(class="fa fa-calendar-o first")
    = humanizeDate(post.publishedAt)

    i(class="fa fa-user")
    = post.author.username

    i(class="fa fa-comment")
    a(href="#comments-area-" + post.slug)
      = pluralize(post.comments, _('There are no comments. Be the first!'), _('comment.'), _('comments.'))

  .social-share
    .social-share-like_facebook
      div(class="fb-like", data-href=("https://www.shereland.com" + post.url), data-layout="button", data-action="like", data-show-faces="true", data-share="true")
    .social-share-twitter
      a(href="https://twitter.com/share", class="twitter-share-button", data-text=("https://www.shereland.com" + post.url), data-via="_shereland", data-lang="pt", data-count="none", data-hashtags="shereland", data-dnt="true")
      script "!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');"

  != post.content

  // Script is just adding the photos to an albunsMP variable.
  // Albuns should be used by magnific-popup.js for showing the album
  if post.album.photos.length > 0
    script.
      if (typeof albunsMP == 'undefined') albunsMP = []
      albunsMP.push("#{post.slug}")
    h3= _("Album")
    div(id="album-" + post.slug)
      each photo in post.album.photos
        a(href=photo.image, class="albummp-" + post.slug, title=photo.title + "<small>" + urlize(photo.description) + "</small>")
          img(alt=photo.title, src=photo.thumbnail)

  if post.relatedBooks.length > 0
    h3.clear= _('Related books')
    p
      each b in post.relatedBooks
        a(href=b.link)= b.title
        br
  
  if post.relatedPosts.length > 0
    h3.clear= _('Related posts')
    p
      each p in post.relatedPosts
        a(href=p.url)= p.title
        br

  h3.clear= _("Follow the Shereland")

  .social-share
    .social-share-like_facebook
      div(class="fb-like", data-href=("https://www.shereland.com" + post.url), data-layout="button", data-action="like", data-show-faces="true", data-share="true")
    .social-share-twitter
      a(href="https://twitter.com/share", class="twitter-share-button", data-text=("https://www.shereland.com" + post.url), data-via="_shereland", data-lang="pt", data-count="none", data-hashtags="shereland", data-dnt="true")
      script "!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');"

  h3= _("Comments")
  
  div(id="comments-area-" + post.slug, class="comments-area")
    h4(id="leave-comment-" + post.slug)= _("Leave a comment")
    form(role="form", method="POST", class="form-comment")
      input(type="hidden", name="post", value=post.slug)
      div.row
        div(class="form-group col-md-12")
          input(type="text", name="name", required="", placeholder=_("Name"), class="form-control", maxlength="100")
        div(class="form-group col-md-12")
          input(type="text", name="email", required="", placeholder=_("E-mail (will not be published)"), class="form-control", maxlength="254")
        div(class="form-group col-md-12")
          div.input-group
            span(class="input-group-addon") http://
            input(type="text" name="site" placeholder=_("www.example.com (optional)") class="form-control" maxlength="150")
        div(class="form-group col-md-12")
          textarea(name="content", rows="10", required="", placeholder=_("Message"), cols="40", class="form-control")
      button(type="submit", class="btn btn-primary")= _("Send")

  div(class="comments-area")
    h3= pluralize(post.comments, _("There are no comments. Be the first!"), _("comment"), _("comments"))
      if post.comments
        each comment in post.comments
          div.row
            div(class="col-md-12 pull-left")
              h4= comment.name + " "
                small= humanizeDate(comment.createdAt)
              p= newLineToBr(stripTags(comment.message))
  div.clearfix
    hr
