footer
  .container
    .row
      div(class="col-lg-3 col-md-3")
        a(class="footer-brand" href="/") Shereland
        p= _("News, discussions and jokes about the faboulous world of books.")
        ul(class="list-inline list-unstyled social-networks")
          li
            a(href="https://www.facebook.com/shereland" target="_blank")
              div(class="icon-social icon-social-facebook normal", style="margin-top: 0px;")
                // TODO: Remove inline css
                i(class="fa fa-facebook")
              div(class="icon-social hover")
                i(class="fa fa-facebook")
          li
            a(href="https://twitter.com/_Shereland" target="_blank")
              div(class="icon-social icon-social-twitter normal", style="margin-top: 0px;")
                // TODO: Remove inline css
                i(class="fa fa-twitter")
              div(class="icon-social hover")
                i(class="fa fa-twitter")

      div(class="col-lg-3 col-md-3")
        h3= _('STAY INFORMED')
        i(class="fa fa-info-circle")
        a(href="/faq")
          strong FAQ
        br
        i(class="fa fa-users")
        a(href="/quem-somos")
          strong= _("About us")
        br
        i(class="fa fa-eye")
        a(href="/politica-de-privacidade")
          strong= _("Privacy policy")
        br
        i(class="fa fa-th-list")
        a(href="/termos-de-uso")
          strong= _("Terms of use")
        br
        i(class="fa fa-envelope")
        a(href="/contato")
          strong= _("Contact")

      div(class="col-lg-3 col-md-3")
        h3= _("LATEST TWEETS")
        if latestTweets
          ul.latest-tweets
            for tweet in latestTweets
              li
                i(class="fa fa-twitter")
                = tweet.content
                // TODO: Convert links with href

      div(class="col-lg-3 col-md-3")
        h3 NEWSLETTER
        p= _("Fill with your e-mail to see our news")
        div.input-group
          input(type="text", placeholder="Email", class="form-control", id="newsletter-text")
          span.input-group-btn
            button(class="btn btn-primary" type="button" id="newsletter-button")= _("Send!")

div.footer-after
  div.container
    div.row
      p.col-md-10 ©2017 Shereland
