li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")
    i(class="fa fa-star")
    span(class="hidden-sm hidden-md hidden-lg inline-force")= _('News')
  ul.dropdown-menu
    li
      a(href="/livros/dicas")= _('Books suggestions')
li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")
    i(class="fa fa-book")
    span(class="hidden-sm hidden-md hidden-lg inline-force")= _('Site')
  ul.dropdown-menu
    li
      a(href="/dashboard")= _('Dashboard')
    li
      a(href="/livros/estante/")= _('My shelf')
    li
      a(href="/livros/emprestar/")= _('Borrowed books')
    li
      a(href="/livros/")= _('Search books')
li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")
    i(class="fa fa-users")
    span(class="hidden-sm hidden-md hidden-lg inline-force")= _('Friends')
    if nFriendsRequests > 0
      span(class="badge")= nFriendsRequests
  ul.dropdown-menu
    li
      a(href="/usuarios/")= _('Search friends')
    li
      a(href="/usuarios/amigos/")= _('My friends')
        if nFriendsRequests > 0
        span(class="badge")= nFriendsRequests
li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")
    i(class="fa fa-heart")
    span(class="hidden-sm hidden-md hidden-lg inline-force")= _('Blog')
  ul.dropdown-menu
    li
      a(href="/blog/")= _('Blog')
li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")
    i(class="fa fa-share")
    span(class="hidden-sm hidden-md hidden-lg inline-force")= _('Share')
  ul.dropdown-menu
    li
      a(href="#", class="share-facebook")= _('Share')
li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")
    i(class="fa fa-question")
    span(class="hidden-sm hidden-md hidden-lg inline-force")= _('Help')
  ul.dropdown-menu
    li
      a(id="show-tour", href="#")= _('How it works')
    li
      a(href="/contato")= _('Contact')
li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")
    i(class="fa fa-gear")
    span(class="hidden-sm hidden-md hidden-lg inline-force")= _('Help')
  ul.dropdown-menu
    li
      a(href="/usuarios/" + user.username)= _('Profile')
    li
      a(href="/usuarios/perfil/")= _('Edit profile')
    li
      a(href="/sair")= _('Exit')
