li
  a(href="/livros/dicas")
    i(class="fa fa-star text-color-yellow")
    = _('Books suggestions')
li
  a(href="/blog/")= _('Blog')
li.dropdown
  a(href="#", class="dropdown-toggle", data-toggle="dropdown", data-hover="dropdown")= _('Sign in')
  ul(class="dropdown-menu dropdown-login")
    li
      // TODO: Remove inline css
      form(class="navbar-form navbar-right form-nav_signin form-login", role="signin", method="POST", style="margin:0;padding:0;")
        input(name="username", type="text" class="form-control" placeholder=_('User'))
        .form-group
          input(name="password", type="password", class="form-control", placeholder=_('Password'))
        button(type="submit" class="btn btn-default")= _('Sign up')
    li(class="text-center clearfix")
      span(class="text-white")= _('OR')
    li
      button(class="btn bg-facebook-blue text-white text-white-hover facebook-sign pull-right")
        i(class="fa fa-facebook")= _('Sign with Facebook')
