nav(class="navbar navbar-fixed-top navbar-inverse", role="navigation")
  .container
    .navbar-header
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/") Shereland

    div(class="collapse navbar-collapse navbar-ex1-collapse")
      form(class="navbar-form navbar-left", role="search")
        .form-group
        input(id="autocomplete", class="form-control", placeholder=_('Search by books or authors'), style="width: 300px;")
        // Remove inline css

      ul(class="nav navbar-nav navbar-right")
        
        if user
          include navbar.authenticated.pug

        else
          include navbar.not_authenticated.pug
