div(class="col-md-4 col-sm-4 sidebar")

  div(class="well bg-dark-green font-white")
    h4= _('Popular posts')
    ul(class="nav nav-stacked nav-pills")
      each p in popularPosts
        li
          a(href=p.url, class="font-white no-border")= p.title

  div.well
    h4= _('Categories')
    ul(class="nav nav-stacked nav-pills")
      li
        a(href="/blog/livros/acontece/")= _('Happens')
      li
        a(href="/blog/livros/desafio/")= _('Challenge')
      li
        a(href="/blog/livros/no-rodape/")= _('In the footer')
      li
        a(href="/blog/livros/a-gente-le/")= _('We read')
      li
        a(href="/blog/livros/eles-leem/")= _('They read')

  div(class="well bg-dark-green font-white")
    h4= _('Follow us')
    ul(class="list-inline list-unstyled social-networks")
      li
        a(href="https://www.facebook.com/shereland", target="_blank")
          div(class="icon-social icon-social-facebook normal", style="margin-top: 0px")
            // TODO: Remove style inline
            i(class="fa fa-facebook")
          div(class="icon-social hover")
            i(class="fa fa-facebook")
      li
        a(href="https://twitter.com/_Shereland", target="_blank")
          div(class="icon-social icon-social-twitter normal", style="margin-top: 0px")
            // TODO: Remove style inline
            i(class="fa fa-twitter")
          div(class="icon-social hover")
            i(class="fa fa-twitter")
  div(class="fb-like-box", data-href="https://www.facebook.com/shereland", data-colorscheme="light", data-show-faces="true", data-header="true", data-stream="false", data-show-border="true", data-width="293")
  // TODO: Check if facebook like box appears

  script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-3987972003121588", data-ad-slot="3190826750", data-ad-format="auto")
  script "(adsbygoogle = window.adsbygoogle || []).push({});"
  // TODO: Check if google ads appears
