extends layout

include mixins/post.pug

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= _("Books suggestions")
  
  script window.staticHost = '!{static("")}';
  div(class="container container-int")
    div(id="root_book_suggestions")
