extends layout

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= message
  
  .container
    .row
      div(class="col-md-2 col-sm-3")
        img(src=static("images/monster.png"), class="img-responsive center-block monster")
      div(class="col-md-10 col-sm-9")
      h1 ooops...

      if error.status = 404
        h2 Parece que a página que você estava procurando não existe
        h3(class="error-404 text-center") 404

      else
        h2 Parece que o site está com algum comportamento estranho
        h2 Mas já estamos nos mexendo para consertar isso!
        h3(class="error-404 text-center") 500
