doctype html
html
  head
    // Tags required for bootstrap 3
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Head title should come from all views
    title= headTitle

    each cssFile in requiredCssBefore
      link(rel="stylesheet", href=static(cssFile))
    
    link(rel="shortcut icon", href=static("images/favicon.ico"))

    // Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-48095449-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-48095449-1');
    
    block jsonld

  body
    include includes/navbar.pug
    block content

    include includes/footer.pug

    each cssFile in requiredCssAfter
      link(rel="stylesheet", href=static(cssFile))

    each jsFile in requiredJs
      script(type="text/javascript", src=static(jsFile))
