extends layout

include mixins/post.pug

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= title
  
  div(class="container container-int")
    ol(class="breadcrumb")
      li
        a(href="/") Home
      if category
        li
          a(href="/blog/") Blog
        li(class="active")= category
      else
        li(class="active") Blog

    .row
      div(class="col-md-8 col-sm-8")
        .post
          each p in posts
            +post(p)
      include includes/post.sidebar.pug

    div.text-center
      ul.pagination
        if pagination.previousPage
          li
            a(href="?page=" + pagination.previousPage)
              i(class="fa fa-angle-left")
        li
          span= _("Page") + " " + pagination.currentPage
        if pagination.nextPage
          li
            a(href="?page=" + pagination.nextPage)
              i(class="fa fa-angle-right")
