extends layout

include mixins/post.pug

block jsonld
  script(type="application/ld+json") !{post.ldjson}

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= title
  
  div(class="container container-int")
    ol(class="breadcrumb")
      li
        a(href="/") Home
      li
        a(href="/blog/") Blog
      li
        a(href="/blog/livros/" + post.categorySlug + "/")= post.category
      li(class="active")= post.title

    .row
      div(class="col-md-8 col-sm-8")
        .post
          +post(post)
      include includes/post.sidebar.pug
