/*
 * Defaults
 */

table {
	width: 100%;
}
table tr td {
	border: 1px solid #666;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

/*
 * Facebook
 */
 /*
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/
*/

/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
	display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100% !important;
}

/*
 * Carousel
 */

#myCarousel {
	border: 1px solid #16a085;
}

.carousel-caption {
	top:40px;
}

.carousel-caption h2 {
	/* WebKit (Safari/Chrome) Only */
	-webkit-text-stroke: 1px black;

	/* If we weren't using text-shadow, we'd set a fallback color
	and use this to set color instead
	-webkit-text-fill-color: white; */

     color: white;
}

.carousel-caption .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.home-spotlight-options {
	cursor: pointer;
	border: 1px solid #16a085;
	height: 100px;
}

.spotlight-top {
	position: absolute;
	z-index: 1;
	background-color: #1abc9c;
	padding: 2px 10px;
	font-weight: bolder;
	color: #FFF;
}

.home-spotlight-options img {
	max-height: 98px;
	vertical-align: middle;
	margin: auto;
}

/*
 * Actions button
 */

.form-actions {
	position: absolute;
	top: 0;
}

/*
 * Form sign in navbar
 */

.form-nav_signin {
	margin-top:11px
}

/*
 * Navs
 */

.nav-tabs .active a {
	background-color: #EEE !important;
}

.tab-content > div > div {
	padding: 25px 15px;
	background-color: #EEE;
}

/*
 * Ids and classes
 */

.text-color-green {
	color: #16A085;
}

.text-color-yellow {
	color: #FFFF00;
}

.bg-light-green {
	background-color: #1abc9c;
}

.bg-dark-green {
	background-color: #16A085;
}

.bg-light-gray {
	background-color: #EEE;
}

.bg-facebook-blue {
	background-color: #3b5998;
}

.clear {
	clear: both;
}

.click-link {
	cursor: pointer;
}

.dropdown-login {
	padding: 0 0 10px;
}

.dropdown-login li {
	margin: 10px;
}

.error {
	font-style: italic;
	color: red;
}

.font-white {
	color: #FFF;
}

.font-light_gray {
	color: #CCC;
}

.galleria {
	width: 100%;
	background: #000;
}

.img-home-portfolio {
	width: 213px;
	height: 300px;
}

.link-portfolio {
	margin-bottom: 5px;
}

.portfolio-item p{
	margin: 0;
}

.portfolio-item .portfolio-info {
	height: 90px;
}

#post-content {
	margin: 20px 0 10px;
}

.post-content {
	clear: both;
}

.promo-image {
	width: 100%;
}

.see-comments {
	cursor: pointer;
}

.social-share {
	margin: 0 0 20px;
	height: 25px;
	clear: both;
}

.social-share .social-share-like_facebook {
	float:left;
	width:159px;
}
.social-share .social-share-facebook {
	float:left;
	margin-left: 5px;
}
.social-share .social-share-twitter {
	float:left;
	margin-left: 5px;
}

.suggestion-form ul {
    padding-left: 0;
    list-style-type: none;
}

.text-white-hover:hover {
	color: #FFF;
}

.text-white {
	color: #FFF;
}

.text-red {
	color: #C91826;
}

.user {
	background-color: #DDD;
	border: solid 1px #FFF;
}

.well-compact {
	padding-top: 10px;
	padding-bottom: 10px;
}

.well-compact h3 {
	margin: 0;
	padding: 0;
}

.well-compact p {
	margin: 0;
	padding: 0;
}

/*
 * UI Search Autocomplete
 */

.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #16A085;
	border: none;
	color:#FFF;
	border-radius:0;
	font-weight: normal;
	line-height: 23px;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
	z-index:10000 !important;
}

/*
 * Helpers
 */

.inline-force {
	display: inline !important;
}

.no-border {
	border: none !important;
}

.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.small-padding {
	padding: 5px !important;
}

.padding-10 {
	padding: 10px !important;
}

.z-index-high {
	z-index: 100;
}

/*
 * Loading
 */

.spinner-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
}

.spinner-wrapper-opacity {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0.5;
}

.spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
