extends ../layout

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= _("About us")
  
  div(class="container")
    div(class="row")

      p &nbsp;

      div(class="col-sm-4 col-sm-offset-2 col-xm-12")
        div(class="block-body")
          h2 Gabriela
          div.line-subtitle
          p= _("Journalist since 2009 and always a reader. Responsible for the content of Shereland.")

      div(class="col-sm-4 col-xs-12")
        div(class="block-body")
          h2 Rafael
          div.line-subtitle
          p= _("Desenvolvedor web há 10 anos. Desenvolve a parte de tecnologia do Shereland.")

    div.row
      div(class="col-md-7 col-md-offset-1 col-xm-8")
        h2= _("Do you want to know more about the team?")
      div(class="col-md-2 col-md-offset-1 col-xm-4")
        h2
          a(href="/contato", class="btn btn-danger btn-lg")= _('Contact us')

      p &nbsp;
      p &nbsp;
      p &nbsp;
