extends ../layout

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= _("Contact")
  
  script window.graphqlHost = '!{graphqlHost}';
  div(class="container container-int")
    div(id="root_contact")= _("Loading")
