extends ../layout

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header") FAQ
  
  div(class="container")
    div(class="row")

      div.col-lg-12
        div(class="panel panel-default")
          div.panel-heading
            h4.panel-title
              a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                = _("Does Shereland trade the books?")
          div(id="collapseOne", class="panel-collapse collapse")
            div(class="panel-body")
              = _("No. We develop the web platform. Nowadays, people use it to know what books they have. The next steps are made by the users themselves, scheduling a meeting and lend/change the books.")
