extends ../layout

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= _('Privacy policy')
  
  div(class="container")
    .row
      .col-sm-12
        p
          | Esta política de privacidade se aplica ao uso do site www.shereland.com, sendo parte de nossos Termos de Uso e sua aceitação é indispensável para qualquer tipo de utilização do Site. Se você não concorda com qualquer termo ou condição desta Política de Privacidade ou dos Termos de Uso, não realize o cadastro no site. O Shereland se reserva ao direito de alterar a política de privacidade a qualquer momento e sem prévio aviso.
        h2 I.  Informações Coletadas e Formas de Utilização 
        p
          | Informações pessoais que você nos fornece: Recebemos e armazenamos todas as informações que você digita em nosso serviço ou que nos fornece de qualquer outra maneira. Os tipos de informações pessoais coletadas incluem seu nome, endereço de email, cidade onde mora, nome de usuário, nomes de usuário do Facebook, informações sobre o seu uso do nosso serviço e informações do navegador. Também podemos recolher e gravar informações publicadas no Site, tais como opiniões, avaliações, fotos e informações do seu perfil, para exibição pública.
        p
          | As informações pessoais que nos fornece são usadas para permitir que você configure uma conta de usuário e perfil para interagir com outros usuários por meio do serviço, melhorar o conteúdo do serviço, personalizar os anúncios e conteúdos que exibe e para lhe comunicar novidades sobre novidades de conteúdo e recursos. Também podemos usar essas informações pessoais para adaptar os serviços da nossa comunidade às suas necessidades, pesquisar a eficácia da nossa rede e serviços.
        p
          | Informações coletadas automaticamente: Quando você usa o serviço, o Shereland automaticamente recebe e registra em nossos logs de servidor informações sobre seu navegador ou plataforma móvel, endereço IP, informações de cookie e a página solicitada.
        p
          | Quando você visita nosso site, poderemos enviar cookies para seu computador ou utilizar webbeacons e outras tecnologias para facilitar o seu acesso ao nosso site, personalizar o serviço que prestamos a você, dar-lhe acesso a recursos adicionais do Site e acompanhar atividades de marketing. Através de cookies, podemos coletar automaticamente e gravar informações sobre suas atividades online tais como os sites que você visita, seus cliques em links, e as buscas que você realizou. Você pode desativar os cookies seguindo instruções do arquivo de Ajuda de seu navegador.
        p
          | Tratamos esses dados como informações não pessoais, exceto quando somos obrigados a agir diferentemente de acordo com alguma lei aplicável. Se outra empresa adquirir a nossa empresa ou substancialmente todos os nossos ativos, a empresa irá possuir suas informações, e assumirá os direitos e obrigações com relação a essa informação, conforme descrito nesta Declaração.
        p
          | Podemos também compartilhar informações não-pessoais, de forma agregada, com terceiros como consultores, anunciantes e investidores para efeitos de análise e avaliação de negócios.
        h2 II. Links 
        p
          | O Site pode conter links para sites de terceiros com os quais nós não temos nenhuma filiação. Exceto como aqui estabelecido, não compartilhamos suas informações pessoais com esses terceiros, e não somos responsáveis por suas práticas de privacidade. Sugerimos que leia as políticas de privacidade em todos esses sites de terceiros.
        h2 III. Comunicações por email 
        p
          | Se não quiser receber emails comerciais ou qualquer outra comunicação por email do Shereland, faça uma alteração na página editar perfil do nosso site. Em todo email comercial que enviarmos a você, você terá a opção de optar por não receber tais emails no futuro.
        h2 IV. Informações de outras pessoas 
        p
          | Se você optar por nos fornecer endereços de e-mail de outra pessoa para que possamos convidá-la a utilizar o Site, utilizaremos essas informações para contatar essa pessoa em relação ao convite. Ao nos fornecer informações de outra pessoa, você declara e garante que tem o consentimento expresso dessa pessoa para fazê-lo.
        h2 V.  Segurança e proteção de dados 
        p
          | Nós seguimos geralmente padrões aceitos pela indústria para proteger as informações pessoais que nos são apresentadas, durante a transmissão e assim que as recebemos. Nenhum método de transmissão através da Internet, ou método de armazenamento eletrônico é 100% seguro. Portanto, enquanto nós nos esforçamos para utilizar meios comercialmente aceitáveis para proteger suas informações pessoais, não podemos garantir sua segurança absoluta. Você reconhece e aceita que não somos responsáveis por qualquer intercepção de dados enviados através da Internet e que, portanto, não terá nada a reclamar em relação a isso. Sempre que você divulgar informações pessoais em páginas web disponíveis ao público ou a outro usuário, essas informações podem tornar-se acessíveis e podem ser recolhidas e gravadas por qualquer pessoa. Você deve se comprometer a não divulgar no Site qualquer informação que você prefere manter privada.
        h2 VI. Mudanças na Política de Privacidade 
        p
          | Podemos alterar esta Política de Privacidade e a maneira como utilizamos seus dados. Nós o incentivamos a rever esta política de privacidade com frequência a fim de manter-se atualizado sobre como estamos protegendo e utilizando as informações que coletamos. Seu uso continuado do Site constitui aceitação tácito e/ou de fato desta versão mais recente desta Política de Privacidade e dos Termos de Uso.
        h2 VII. Resolução 
        p
          | Se você acredita que o Shereland não aderiu em algum momento a essa declaração, você poderá escrever para o nosso escritório de privacidade, no seguinte endereço de e-mail: contato@shereland.com
