extends ../layout

block content

  .section-header
    .container
      .row
        .col-lg-12
          h1(class="page-header")= _('Terms of use')
  
  div(class="container")
    .row
      .col-sm-12
        p
          | Bem-vindo ao Shereland! Por favor, certifique-se de haver entendido todos os 
          b Termos e Condições
          |  descritos abaixo, doravante coletivamente nominados Termos de Uso, e em nossa Política de Privacidade. A aceitação de ambos os Termos de Uso e a Política de Privacidade é indispensável para qualquer forma de utilização do site www.shereland.com, doravante denominado "Site", tanto por pessoas físicas como por pessoas jurídicas. Se você não for juridicamente capaz, ou não estiver de pleno acordo com qualquer um dos termos ou condições estabelecidas nos Termos de Uso, o seu uso do Site é proibido.
        p
          | Os Termos de Uso aplicam-se ao uso dos serviços oferecidos pelo site www.shereland.com. Qualquer pessoa física ou jurídica, doravante nominada Usuário, que pretenda utilizar qualquer serviço do Site deverá aceitar os termos abaixo.
        p
          | O Shereland se resguarda no direito de realizar alterações/atualizações nos Termos de uso a qualquer momento, sem aviso prévio, e a simples utilização do "Site" após alteração/atualização dos Termos de uso importa em concordância com os mesmos. Caso o "Usuário" não concorde com as alterações, deverá cancelar sua conta, e cessar todo e qualquer utilização do ""Site"". Na ausência de manifestação entender-se-á que o "Usuário" aceitou tacitamente e os "Termos" e o contrato continuará vinculando as partes. Recomendamos que o "Usuário" reveja os Termos de uso com freqüência para estar a par de quaisquer atualizações.
        h2 1.  Definições 
        p
          | Um usuário "é alguém que acessa, navega ou de qualquer forma usa o site. "Conteúdo" significa o texto, imagens, fotos, áudio, vídeo e todas as outras formas de dados ou de comunicação.
        p
          | "Conteúdo" significa o conteúdo que você envia ou transmite para ou através do site, tais como avaliações, críticas, elogios, convites entre outras informações que você compartilhe, como parte de seu perfil de conta. "Conteúdo do Usuário" significa conteúdo que os usuários enviam ou transmitem para ou através do site. "Shereland Conteúdo" significa o conteúdo que criamos e disponibilizamos no site. "Conteúdo de Terceiros" significa conteúdo que é disponibilizado no site, tais como provedores de dados que licenciam dados para uso no site. "O conteúdo do site", são todos os conteúdos disponibilizados no site, incluindo o seu conteúdo, o de outros usuários, conteúdo de terceiros e o conteúdo produzido pelo Shereland.
        h2 2.  Elegibilidade 
        p
          | Você representa e garante que (a) não foi suspenso pelo Shereland ou removido do site, (b) seu perfil não apresenta falsas informações e (c) que tem pleno poder e autoridade para celebrar estas Condições de Serviço e ao fazê-lo não irá violar qualquer outro acordo em que você faça parte. Se você utilizar o Site em nome de uma empresa ou organização, você deve ter a autoridade legal para vinculá-la a estes Termos de Uso ou seu uso é proibído.
        h2 3.  Sobre os Termos de Uso 
        p
          | Podemos traduzir estas Condições Gerais de utilização em outros idiomas para sua conveniência. No entanto, a versão em Português rege seu relacionamento com o Shereland, e as inconsistências entre as diferentes versões será resolvido em favor da versão em Português.
        h2 4.  Contas 
        p
          | Você precisa criar uma conta e fornecer informações sobre si mesmo a fim de utilizar algumas das funcionalidades no site. Ao abrir uma conta, você garante que todas as informações que você enviar serão atualizadas e verdadeiras, e que você as manterá desta forma. Você é responsável por manter a confidencialidade de sua senha da conta. Você também é responsável por todas as atividades que ocorrem em conexão com sua conta. Você concorda em nos notificar imediatamente sobre qualquer uso não autorizado de sua conta. Nós nos reservamos o direito de encerrar sua conta a qualquer momento, desde que descumprido quaisquer regras deste termo de uso. O uso de todas as informações fornecidas a nós durante o processo de abertura de conta é regulado pela nossa Política de Privacidade. Você pode abrir uma Conta Empresa ou uma Conta Pessoal. A Conta Empresa é apenas para empresas e, para abri-la e utilizá-la, você deve ser o representante legal da empresa em questão. Nenhuma empresa poderá ter mais de uma conta. A Conta Pessoal é para uso pessoal e não comercial. Nenhuma pessoa poderá: ter mais do que uma Conta Pessoal; utilizar qualquer outra conta além da sua; revelar sua senha a terceiros ou permitir que terceiros utilizem sua conta; interferir na conta, nome de usuário ou senha de outro usuário a qualquer momento; vender ou transferir o seu perfil. O Shereland poderá, a seu exclusivo critério, encerrar sua conta e remover ou editar qualquer conteúdo, incluindo, mas não se limitando a, o seu subdomínio.
        h2 5.  Responsabilidade sobre o Conteúdo de Usuário 
        p
          | Você é o responsável pelo seu conteúdo. Você assume todos os riscos associados com o conteúdo, incluindo qualquer confiança na sua exatidão, integridade ou utilidade, ou qualquer divulgação de informações feitas por você em seu conteúdo e que são identificáveis.Você representa que você próprio tem as permissões necessárias para utilizar e autorizar o uso deste conteúdo como aqui descrito. Você não pode implicar que o conteúdo é de qualquer forma patrocinado ou apoiado pelo Shereland.
        p
          | Você pode se expor à responsabilidade se, por exemplo, o seu conteúdo violar qualquer direito de terceiros, incluindo qualquer direito autoral, marcas, patentes, segredos comerciais, direito moral, direito à privacidade, direito de publicidade, ou qualquer outra propriedade intelectual ou direito de propriedade; contém material que é falsa, intencionalmente enganosa ou difamatórias, que contenha material que seja ilegal, incluindo o discurso de ódio ou pornografia ilegal; que explora ou prejudique menores, ou viola ou defende a violação de qualquer lei ou regulamento.
        h2 6.  Permissão para usar seu conteúdo 
        p
          | Ao utilizar o Site, você (a) concede ao Shereland, por prazo indeterminado, uma licença gratuita, irrevogável, não-exclusiva, sub-licenciável, e transferível para utilizar livremente o seu Conteúdo de Usuário no Brasil e no exterior, incluindo, mas não se limitando a, copiá-lo, modificá-lo, adaptá-lo, traduzi-lo, exibi-lo publicamente, armazená-lo, reproduzi-lo, transmiti-lo, distribuí-lo, promovê-lo, incorporá-lo em outras obras, criar obras derivadas a partir dele, e permitir que terceiros façam o mesmo através dos seus próprios canais de mídia, (b) concede a todos os outros usuários o direito de acessar seu conteúdo, (c) renuncia a qualquer reivindicação de direitos autorais em relação ao seu Conteúdo do Usuário, (d ) concorda em pagar todos os royalties, indenizações e qualquer outra quantia que venha a ser devida a terceiros em razão de qualquer conteúdo fornecido por você, e (e) compreende e aceita que você não terá direito a qualquer remuneração pelo uso comercial ou não comecial de seu Conteúdo de Usuário pelo Shereland. Você afirma que tem a capacidade legal e o direito de conceder a licença expressa nesta cláusula. O cancelamento de sua conta no Site não implica revogação desta licença, que é irrevogável, exceto mediante acordo por escrito entre as partes.
        h2 7.  Conteúdo e atividade proibidos 
        p
          | Podemos nos recusar a publicar, remover ou repor qualquer Conteúdo de Usuário a nosso critério e a qualquer momento, sem aviso prévio. Não temos nenhuma obrigação de manter ou fornecer-lhe cópias de seu Conteúdo de Usuário, nem podemos garantir sua confidencialidade. Você declara e garante que seu uso do Site e seu Conteúdo de Usuário:
        p
          | 1. NÃO serão ofensivos, ameaçadores, prejudiciais ou abusivos (por exemplo, não conterão palavrões, obscenidades, assédio, vulgaridades, violência ou material sexualmente explícito, e não promoverão o crime, a intolerância, a discriminação ou o racismo); 
          br
          |         2. NÃO serão ou parecerão ser resultado de qualquer conflito de interesse (por exemplo, opiniões e comentários negociados com outros proprietários de negócios); 
          br
          |         3. NÃO interferirão com o funcionamento do Site ou com o uso de outro usuário do Site; 
          br
          |         4. NÃO acusarão terceiros de atividade ilegal ou anti-ética; 
          br
          |         5. NÃO violarão qualquer lei aplicável, regulamento, direitos de terceiros, os Termos de Uso; 
          br
          |         6. NÃO conterão spam, pesquisas, concursos, esquemas de pirâmide, materiais de propaganda, emails corrente, lixo eletrônico, ou mensagens em massa, quer seja de natureza comercial ou não; 
          br
          |         7. NÃO representarão outros indivíduos ou conterão nomes de usuário impróprios; 
          br
          |         8. NÃO conterão informações pessoais (por exemplo, números de telefone, URLs e endereços postais); 
          br
          |         9. NÃO promoverão informação falsa ou enganosa, atividades ilegais ou conduta inadequada; 
          br
          |         10. NÃO serão alheios às suas próprias experiências de bens e serviços (por exemplo, não serão baseadas em experiências de terceiros ou boatos); 
          br
          |         11. NÃO conterão rotina de programação que possa interferir, danificar, interceptar ou apropriar qualquer sistema, dados ou informações pessoais (por exemplo, vírus, cavalos de Tróia, worms, bombas-relógio, ou cancelbots); 
          br
          |         12. NÃO conterão informações promocionais ou comerciais; 
          br
          |         13. NÃO influenciarão nossos resultados naturais de pesquisa; 
          br
          |         14. NÃO solicitarão, registrarão, processarão informações pessoais de outros usuários; 
          br
          |         15. NÃO farão engenharia reversa de qualquer parte do Site; 
          br
          |         16. NÃO removerão ou modificarão qualquer aviso de propriedade intelectual no Site ou em qualquer material impresso ou copiado fora do Site; 
          br
          |         17. NÃO utilizarão qualquer dispositivo automatizado, processo ou meio (ex. crawling, robôs, spiders, etc) para recuperar, indexar, furtar, ou acessar o Site ou o seu conteúdo; para adicionar amigos; ou para qualquer outra finalidade não autorizada por escrito pelo Shereland;
          br
          |         18. NÃO reformatarão ou personalizarão de qualquer parte do Site; 
          br
          |         19. NÃO enviarão qualquer conteúdo de forma anônima ou de maneira que não seja possível identificar sua autoria; 
          br
          |         20. NÃO imporão uma carga irrazoável sobre a infra-estrutura do Shereland; 
          br
          |         21. NÃO interferirão com os dispositivos de segurança do Site, incluindo, mas não se limitando a, aqueles que restringem a cópia e o uso do conteúdo do Site ou de seus recursos; 
          br
          |         22. NÃO tentarão obter acesso não autorizado ao Site através de hacking, exploração de senha ou qualquer outro meio; 
          br
          |         23. NÃO editarão, copiarão, gravarão, reproduzirão, distribuirão, traduzirão, exibirão publicamente, venderão, trocarão ou de qualquer forma explorarão o Site ou o seu conteúdo, salvo se especificamente autorizado pelo Shereland por escrito; 
          br
          |         24. NÃO incluirão uma foto de outra pessoa sem o seu consentimento por escrito; 
          br
          |         25. NÃO interferirão com os recursos de marketing do Shereland (por exemplo, anúncios de banner) através de HTML / CSS ou qualquer outra forma;
        h2 8.  Conflito de usuários 
        p
          | Você é o único responsável por suas interações com outros usuários. O Shereland pode, mas não é obrigada a, monitorar as disputas entre seus usuários.
        h2 9.  Privacidade 
        p
          | Para obter informações sobre como lidamos com suas informações pessoais, leia nossa Política de Privacidade.
        h2 10. Limitação de Responsabilidades 
        p
          | O Site e todo o conteúdo do Site é disponibilizado "no estado em que se encontra" e "conforme estiver disponível". O Shereland:
        p
          | 1. não garante que o Site será livre de interrupções ou de erros; ou que seu uso, o uso de seu conteúdo, ferramenta de pesquisa ou links darão resultados; 
          br
          |         2. nega qualquer responsabilidade por quaisquer perdas ou danos decorrentes de seu uso deste Site ou de seu conteúdo. Seu uso deste Site e de seu conteúdo corre por sua própria conta e risco. Você será o único responsável por qualquer perda ou dano resultante, incluindo, mas não se limitando a, qualquer perda de dados ou danos causados a seu computador por vírus que podem ser transferidos a seu computador durante a utilização do Site; 
          br
          |         3. nega qualquer responsabilidade por qualquer perda ou dano decorrente de sua comunicação ou relacionamento com qualquer empresa, anunciante ou os usuário do Site; suas comunicações e relacionamentos com essas empresas, anunciantes e usuários são exclusivamente por sua conta e risco; 
          br
          |         4. não é responsável por qualquer Conteúdo incorreto ou impreciso publicado no Site ou causado por qualquer falha de equipamento ou programação; 
          br
          |         5. poderá corrigir erros gramaticais contidos nas opiniões de usuários, em outros textos do anúncio ou editar posts enviados por colaboradores, comprometendo-se a não alterar as mensagens ali contidas; 
          br
          |         6. não dá qualquer garantia ou declaração de qualquer tipo, expressa ou implícita, incluindo, sem se limitar a, quaisquer garantias de qualidade ou adequação de uso do Site; 
          br
          |         7. não oferece quaisquer garantias com relação à funcionalidade do Site, aos comentários sobre os livros;
          br
          |         8. não é responsável pela conduta online ou offline dos Usuários; 
          br
          |         9. não será responsável por qualquer perda ou dano, incluindo danos pessoais ou morte, decorrentes da utilização do Site, ou de qualquer conteúdo publicado no, ou através do, Site; 
          br
          |         10. não será responsável por quaisquer danos diretos, indiretos, e incidentais; perda de lucros; interrupção de negócios; perda ou dano a reputação de terceiros; ou perda de dados, mesmo que o Shereland tenha sido avisada da possibilidade de tais danos.
        h2
          | 11.   Limitação de Responsabilidades acerca dos empréstimos incentivados pelo Shereland
        p
          | O Shereland é uma rede social de incentivo ao empréstimo de livros, mas não tem responsabilidade pelo empréstimo concreto dos livros. Depois que o usuário pede emprestado ou empresta material pelo site, cabe aos envolvidos no empréstimo (quem pediu emprestado e quem emprestou) efinirem os termos do empréstimo e arcarem com qualquer despesa relacionado ao empréstimo.
        p
          | O Shereland não se responsabiliza por danos no material emprestado, assim como não se responsabiliza pela não devolução do material ou por punir e banir usuários que não devolverem livros emprestados.
        h2 12. Indenização 
        p
          | Você concorda em indenizar o Shereland subsidiárias, afiliadas, as empresas associadas, fornecedores, licenciadores e parceiros, e os funcionários, diretores, funcionários, agentes e representantes de cada um deles, incluindo custos, riscos e taxas legais, de qualquer reivindicação ou exigência feita por terceiros devido a ou resultantes de (i) o seu acesso ou utilização do Site, (ii) violação dos Termos de Uso, (iii) a violação, por você, ou qualquer terceiros utilizando sua conta, de qualquer propriedade intelectual ou outro direito de qualquer pessoa ou entidade, (iv) fornecer um link a outro site e (v) fazer upload de conteúdo ou qualquer outra informação a outro site. O Shereland reserva o direito, às suas custas, de assumir a defesa e o controle exclusivo de qualquer assunto para o qual está obrigado a indenizar a nós e você concorda em cooperar com a nossa defesa dessas reivindicações. Você concorda em não resolver qualquer questão, sem o consentimento prévio por escrito do Shereland. O Shereland fará esforços razoáveis para notificá-lo de qualquer reclamação, ação ou processo após tomar conhecimento do mesmo.
        h2 13. Terceiros 
        p
          | O Site pode incluir links para outros sites (cada, um "site de terceiros"). Nós não controlamos ou endossamos qualquer site de terceiros, e você concorda que não somos responsáveis pela disponibilidade ou conteúdo de tais sites de terceiros. Alguns dos serviços disponibilizados através do Site são fornecidos em ligação com terceiros e sujeitos a termos adicionais publicados aqui, que os termos são aqui incorporadas por referência.
        h2 14. Diversos 
        p
          | Se houver qualquer disputa sobre ou envolvendo o Shereland, você concorda que tal disputa será regida pelas leis do Estado de São Paulo, sem consideração com seu conflito às disposições da lei. Você concorda com a jurisdição pessoal e localizada no Estado e os tribunais federais, em São Paulo.
        p
          | Nenhuma agência, parceria, joint venture, ou o emprego é criado como um resultado dos Termos de Uso, e você não tem qualquer autoridade de qualquer tipo que nos unem em qualquer sentido que seja.
          | Podemos fornecer-lhe informações, nomeadamente aquelas relacionadas com modificações aos Termos de Uso por e-mail, correio normal ou postings no site.
        p
          | Os Termos de Uso contêm a totalidade do acordo entre você e nós em relação à utilização do Site, e substituem qualquer acordo prévio entre você e nós sobre tal assunto. As partes reconhecem que o recurso não é colocado em qualquer representação feita, mas não expressamente contidos nestes Termos de Uso.
        p
          | Qualquer falha de nossa parte de exercer ou executar qualquer direito ou cláusula dos Termos de Uso não constitui uma renúncia a tal direito ou disposição. A falha de qualquer parte em exercício em qualquer aspecto de qualquer direito previsto neste documento não deve ser considerada uma renúncia de quaisquer dos direitos adicionais.
        p
          | Se qualquer disposição dos Termos de Uso for considerada inválida ou inexeqüível, essa disposição será eliminada ou limitada na medida mínima necessária para que os Termos de Uso permanecerão em pleno vigor e executória.
        p
          | Os Termos de Uso não são transferíveis, negociáveis ou sublicenciável por você, exceto com autorização prévia por escrito do Shereland, mas podem ser cedidos ou transferidos por nós sem restrições. Qualquer tentativa de cessão a ser feita, em violação dos Termos de Uso será nulo.
        p
          | Os títulos da seção nos Termos de Uso são apenas para conveniência e não têm nenhum efeito legal ou contratual.
        h2 15. Contato e Violação 
        p
          | Entre em contato conosco com qualquer dúvida sobre os Termos de Uso. Favor reportar qualquer violação dos Termos de Uso para o nosso departamento jurídico, através da página de contatos: info@shereland.com
